h1{
    font-family: "Merriweather";
    text-align: center;
}

h2{
    text-align: center;
}
div{
    /*border:1px solid black;*/
}

.reset{
    margin:24px;
    height:50px;
    width: 150px;
    align-self: center;
    background-color: red;
    font-size: 24px;
    color:white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-board{
    width: 600px;
    height: 600px;
    background-color: lightgrey;
    background: cover;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
}

.cell{
    border: 1px solid black;
    height: 198px;
    width:198px;
    /*border-radius: 150px;*/
}

.X{
    background-color: red;
    font-size: 150px;
    text-align: center;
    color: white;
    content: "X";
}

.O{
    background-color: blue;
    font-size: 150px;
    text-align: center;
    color: white;
    content: "O";
}