*{
    margin: 0 auto;
 }
h1{
    font-family: "Merriweather";
    text-align: center;
}

h2{
    text-align: center;
}

.btn {
   height:100px;
   width: 300px;

  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: red;
  
  text-transform: uppercase;
  color: $brown;
  font-family: arial;
  letter-spacing: 1px;
  
  box-shadow: -6px 6px 0 $brown;
  text-decoration: none;
}
  
  .btn:hover {
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 $brown;
}
    
    .btn:after {
      top: 1px;
      left: -2px;
      width: $angle-o;
      height: $angle-o;
    }
    
    .btn:before {
      bottom: -2px;
      right: 1px;
      width: $angle-o;
      height: $angle-o;
    }
  }
  
  .btn:after {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: $angle;
    height: $angle;
    background-color: $brown;
    transform: rotate(45deg);
    z-index: -1;
    
  }
  
  .btn:before {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: $angle;
    height: $angle;
    background-color: $brown;
    transform: rotate(45deg);
    z-index: -1;
  }
}

a.btn { position: relative; }

a:active.btn {
  top: 6px;
  left: -6px;
  box-shadow: none;
  
  &:before {
    bottom: 1px;
    right: 1px;
  }
  
  &:after {
    top: 1px;
    left: 1px;
  }
}
.reset{
    margin:24px;
    height:50px;
    width: 150px;
    align-self: center;
    background-color: red;
    font-size: 24px;
    color:white;
}
    /*align-self: center;*/
.start1{
    align-content: center;
    height:100px;
    width: 300px;
    background-color: blue;
    font-size: 24px;
    color:white;
}
.start2{

    height:100px;
    width: 300px;
    background-color: red;
    font-size: 24px;
    color:white;

}
.start-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*    margin:0 auto;*/
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board{
    width: 600px;
    height: 600px;
    background-color: lightgrey;
    background: cover;
/*    margin: 0 auto;*/
    display: flex;
    flex-wrap:wrap;
}

.cell{
    border: 1px solid black;
    height: 198px;
    width:198px;
    /*border-radius: 150px;*/
}

.X{
    /*background-image: url('Xcell.png');*/
    background-color: red;
    background-size: cover;
    font-size: 150px;
    text-align: center;
    color: white;
    /*content: "X";*/
}

.O{
    background-color: blue;
    font-size: 150px;
    text-align: center;
    color: white;
    content: "O";
}